@import "vars.scss";

.our-team {
  background-color: black;
  color: white;
  &__section-name {
    margin-bottom: 100px;
  }
  &__slide-foto {
    object-fit: contain;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  &__slide-name {
    font-weight: bold;
    text-transform: none;
    margin-bottom: 10px;
  }
  &__slide-job {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
  }
  &__slide-text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
  }
  @media (max-width: 767px) {
    &__section-name {
      margin-bottom: 30px;
    }
    &__slide-text {
      max-width: 300px;
    }
  }
}
