@import "vars.scss";

.welcome {
  background-color: black;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    min-height: 500px;
  }
  &__greeting {
    color: $color-grey;
    margin-bottom: 20px;
  }
  &__about-company {
    color: $color-grey;
  }
  &__scroll-btn {
    position: absolute;
    bottom: 90px;
    left: calc(50% - 25px);
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

