@font-face {
    font-family: "Lato";
    src: url("../../fonts/LatoRegular/LatoRegular.eot");
    src: url("../../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}