@import "normalize.scss";
@import "fonts.scss";
@import "utility-classes.scss";
@import "vars.scss";
@import "modules/modules-list.scss";

.btn__img {
  object-fit: contain;
  margin-right: 10px;
}

.slick-dots {
  text-align: center;
  margin-top: 50px;
}

.slide {
  outline: transparent;
  padding: 0 20px;
}

.form {
  &__label {
    font-size: 14px;
    line-height: 24px;
    color: #636363;
  }
  &__input-text {
    display: block;
    font-size: 30px;
    line-height: 48px;
    width: 100%;
    padding: 0 10px;
    color: $color-grey-dark;
    border: 1px solid $color-grey;
    border-radius: 3px;
  }
  &__input-textarea {
    width: 100%;
    height: 165px;
    padding: 5px;
    font-size: 18px;
    line-height: 24px;
    resize: none;
    color: $color-grey-dark;
    border: 1px solid $color-grey;
    border-radius: 3px;
    margin-bottom: 35px;
  }
  &__submit {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 10px 65px;
    background-color: $color-gold;
    transition: 0.2s;
    &:hover{
        background-color:darken($color-gold, $amount: 11%) ;
    }
  }
  @media (max-width: 767px) {
    &__label {
      font-size: 12px;
      line-height: 18px;
    }
    &__input-text {
      font-size: 14px;
      line-height: 30px;
      padding: 0 5px;
    }
    &__input-textarea {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      height: 100px;
    }
    &__submit {
      padding: 5px 50px;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
  p {
    padding: 10px;
    color: white;
  }
}

.svg-icon {
  width: 25px;
  height: 25px;
  fill: white;
  &:hover{
      fill:darken(white, 50%)
  }
}